
<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">New Store</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Store name</label><font color="red">(*)</font>
                                        <input type="text" class="form-control" placeholder="Store Name" value="">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Owner</label><font color="red">(*)</font>
                                        <input type="text" class="form-control" disabled placeholder="Username" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Open</label><font color="red">(*)</font>
                                        <input type="time" class="form-control" placeholder="Open" value="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Close</label><font color="red">(*)</font>
                                        <input type="time" class="form-control" placeholder="Close" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Address</label><font color="red">(*)</font>
                                        <input type="text" class="form-control" placeholder="Home Address" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Description</label><font color="red">(*)</font>
                                        <textarea rows="5" class="form-control" placeholder="Description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Save Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a>
                                <img class="avatar border-gray" src="../../assets/img/faces/face-0.jpg" alt="..."/>
                                <h4 class="title"><br />
                                    <small></small>
                                </h4>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button type="button" class="btn btn-simple" data-toggle="modal" data-target="#myModal">
                            <i class="fa fa-user-plus"></i> Add Owner
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

